/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1;

}


:root {
    --Naranja-colorEE7D27: #EE7D27;
    --lightest-gray: rgb(190, 190, 190);
    --light-gray: #5D737E;
    --medium-gray: rgb(96, 96, 96);
    --dark-gray: #030303;
    --header-height: 50px;
    --duracion-animacion: 200ms;
    --animacion-abrir-cerrar: ease-in-out;
    --black: #030303;
    --Baby-Powder: #FCFFFD;
    --Cadet: #5D737E;
    --Green-Sheen: #64B6AC;
    --Celeste: #C0FDFB;
    --Aero-Blue: #DAFFEF;
    --h1-size: 3.375rem;
    --h2-size: 2.75rem;
    --h3-size: 2.1254rem;
    --p-size: 1.5rem;
}

.container1 header {
    font-size: var(--h2-size);
    padding: 10px;
    width: 100%;
    font-weight: 600;
    color: var(--black);
    letter-spacing: 5px;
    border-bottom: solid 2.7px #EE7D27;
    text-decoration-color: var(--Naranja-colorEE7D27);
    margin-top: 0%;
}

.container1 form .title {
    display: block;
    margin-bottom: 8px;
    font-size: var(--h3-size);
    font-weight: 500;
    margin: 6px 0;
    color: var(--black);
}


.container1 form .fields {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1rem;

}

form .fields .input-field {
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field label {
    font-size: var(--p-size);
    font-weight: 500;
    color: var(--Cadet);
}

.input-field input,
select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field input :focus,
.input-field select:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field select,
.input-field input[type="date"] {
    color: #707070;
}

.input-field input[type="date"]:valid {
    color: rgb(151, 22, 22);
}

.flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    resize: none;

}
.flex textarea{
    border: 2px solid var(--Cadet);
}